body{
	font-family: Arial;
	font-size: 20px;
        margin: 0;
	padding: 0;
}

table{
	margin-right:auto;
	margin-left:auto;
	color: white;
}
td{
	background-color: #B0C4DE;
	width: 280px;
}

.alinhaCentro{
	text-align: center;
	background-color: #3A5FCD;
	color: white;
}

.alinhaEsquerda{
	text-align: right;
}

.codigo{
	text-align: center;
	background-color: #3A5FCD;
	color: white;
	width: 100px;
}

.topo{
        background-color: #1E90FF;
	width: 100%;
	height: 50px;
	position: fixed;
	font-size: 60px;
	line-height: 50px;
	color: #FFFAFA;
	font-weight: bold;
        text-align: center;
}

.rodape {
	background-color: #1E90FF;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
}

a:link,a:visited,a:hover{
    text-decoration: none;
    color:blue;
}
a:active{
    text-decoration: none;
    color: blue;
}
.menu{
    padding: 50px;
    background-color: #1E90FF;
    color:#FFFAFA;
    text-align: center;
    font-size: 20px;
    border-color:#1E90FF;
}
.conteudo{
    padding: 60px;
}
